
    body{
        background-color: #f5f5f5;
    }
    a{
        color: black;
        text-decoration: none;
    }
    input, button{
        width: 90%;
        border: 1px solid #555;
        padding: 6px;
    }
    .Überschrift{
        color: darkgreen;
        text-align: left;
        font-style: italic;
        font-size: 40px;
    }
