body{
    background-color: lightblue;
}
div, ol{
    background-color: lemonchiffon;
}
h1{
    color: whitesmoke;
    background-color: teal;
}
/*Das ist eine CSS class */
.font_teal{
    color:teal;
}
/*Das ist eine ID */
#einzigartig {
    border: 1px solid turquoise;
}